<a href="https://colab.research.google.com/github/Aksaiful007/Skill-Morph/blob/main/SkillMorph_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

# 2.1 Creating variables## **Variable**

In [ ]:

name = "Ali Kaisar Saiful"
age = 20
is_student = True
height = 5.9
# Printing variables
print("Name:", name)
print("Age:", age)
print("Student status:", is_student)
print("Height:", height, "feet")

Name: Ali Kaisar Saiful
Age: 20
Student status: True
Height: 5.9 feet

#2.2 checking data **types**

In [47]:

name = "Ali Kaisar Saiful"
address = 'Dhaka'
age = 20
price = 100000000000
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>

In [2]:
import math
a = 52
b = 7
num = 5.3
floored = math.floor(num)
ceilled = math.ceil(num)

length = 7
width = 5
area = length * width
print(f"The area of the rectangle is {area}")
perimeter = 2 * (length + width)
print(f"The perimeter of the rectangle is {perimeter}")
print(floored) #floor number of num
print(ceilled) #celling number of num
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.333...
print(a // b) # Floor division: 3
print(a % b)  # Modulus (remainder): 1
print(a ** b) # Exponentiation: 1000

The area of the rectangle is 35
The perimeter of the rectangle is 24
5
6
59
45
364
7.428571428571429
7
3
1028071702528

#2.3 Calculate the area and perimeter of a rectangle with length 7 and width 5

In [46]:
length = 7
width = 5
area = length * width
print(f"The area of the rectangle is {area}")
perimeter = 2 * (length + width)
print(f"The perimeter of the rectangle is {perimeter}")

The area of the rectangle is 35
The perimeter of the rectangle is 24

In [ ]:
first = "Dear"
last = "Samiul Sir"
# Concatenation
full = first + " " + last
print(full)  # Hello World
# Repetition
repeated = first * 3
print(repeated)  # HelloHelloHello#
#Length
print(len(full))  # 11

Dear Samiul Sir
DearDearDear
15

## **Data Structure**

In [ ]:
# Creating a list
fruits = ["apple", "banana", "orange", "mango", "graph"]
# Accessing elements (indexing starts at 0)
print(fruits[0])       # apple
print(fruits[2])       # orange
# Negative indexing (counts from the end)
print(fruits[-2])      # mango
# Slicing lists
print(fruits[1:4])     # ['banana', 'orangeâ€™]
# Changing an element
fruits[1] = "grape"
print(fruits)          # ['apple', 'grape', 'orange', 'mango']

apple
orange
mango
['banana', 'orange', 'mango']
['apple', 'grape', 'orange', 'mango', 'graph']

#creating list 2.4

In [6]:

foods = ["rice", "lentil", "egg", "fish", "beef"]
print(f"The first element of the list is: {foods[0]}")
print(f"The second element of the list is: {foods[-1]}")

The first element of the list is: rice
The second element of the list is: beef

In [ ]:
#Adding Elements in List
fruits = ["apple", "banana"]
fruits.append("lichu")    # Add to end
fruits.insert(2, "mango")  # Insert at position
print(fruits)  # ['apple', 'mango', 'banana', 'orange']

['apple', 'banana', 'mango', 'lichu']

In [ ]:
#Removing Elements in List
fruits = ["apple", "mango", "banana", "orange"]
fruits.remove("mango")    # Remove by value
popped = fruits.pop(-2)    # Remove & return last item
print(popped) # orange
print(fruits) # ['apple', 'banana']

banana
['apple', 'orange']

In [ ]:
#organinzing list
fruits = ["orange", "apple", "mango", "banana"]
fruits.sort() # Alphabetical order
print(fruits) # ['apple', 'banana', 'mango', 'orangeâ€™]
fruits.reverse() # Reverse order
print(fruits) # ['orange', 'mango', 'banana', 'apple']

['apple', 'banana', 'mango', 'orange']
['orange', 'mango', 'banana', 'apple']

2.5 Adding and removing elements

In [48]:

num_list = [5, 4, 1, 7, 11]
#adding new number
num_list.insert(1, 3)
print(num_list)
#removing a number:
num_list.remove(4)
print(num_list)
#shorting list
sorted = num_list.sort()
print(num_list)

[5, 3, 4, 1, 7, 11]
[5, 3, 1, 7, 11]
[1, 3, 5, 7, 11]

# Creating a dictionary 2.6

In [49]:

student = {
"name": "Ali Kaisar Saiful",
"age": 20,
"university": "State University of Bangladesh",
"courses": ["Python", "Data Science", "Machine Learning"]}
# Accessing values using keys
print(student["name"])      # Fahim
print(student["courses"][0])  # Python
# Adding or modifying items
student["phone"] = "01234567899"
student["age"] = 20
student["email"] = "abc@gmail.com"
# Checking if a key exists
if "email" in student:
  print("Email found")
else:
  print("No email found")   # No email found

Ali Kaisar Saiful
Python
Email found

In [ ]:
# Creating a tuple
coordinates = (10.5, 20.8)
rgb_color = (255, 0, 128)
# Accessing elements
print(coordinates[0])    # 10.5
print(rgb_color[2])      # 128
# Attempting to change (will cause error)
# rgb_color[0] = 200  # TypeError!
# Length of tuple
print(len(rgb_color))    # 3

10.5
128
3

#2.7 Lantitude and Lonitude:

In [50]:

coordinates = (23.75166, 90.36758)
print(f"The first coordinate is: {coordinates[0]}")
print(f"The second coordinate is: {coordinates[1]}")

The first coordinate is: 23.75166
The second coordinate is: 90.36758

In [ ]:
# Tuple with different data types
mixed = ("Dhaka", 23.8, True, 2023)
# Single-item tuple needs a comma
single = (42,)  # Without comma: just an int
print(mixed)
print(single)

('Dhaka', 23.8, True, 2023)
(42,)

In [ ]:
# Creating a set
fruits = {"apple", "banana", "orange", "apple"}
print(fruits)  # {'orange', 'banana', 'apple'} (no duplicates)
# Adding elements
fruits.add("mango")
fruits.update(["grape", "kiwi"])
# Removing elements
fruits.remove("banana")  # Raises error if not found
fruits.discard("pear")
# Set operations
bangladeshi_fruits = {"mango", "jackfruit", "banana"}
imported_fruits = {"apple", "kiwi", "banana"}
# Union (all elements from both sets)
all_fruits = bangladeshi_fruits | imported_fruits
print(all_fruits)
# Intersection (common elements)
common = bangladeshi_fruits & imported_fruits  # {'banana'}
print(common)

{'orange', 'banana', 'apple'}
{'banana', 'kiwi', 'mango', 'jackfruit', 'apple'}
{'banana'}

#2.8 Union AND  Intersection of sets

In [51]:

clrset1 = {"reed", "yellow", "blue"}
clrset2 = {"green", "orange", "blue"}
#intersection of sets
common = clrset1 & clrset2
print(common)
#UNION of sets
union = clrset1 | clrset2
print(union)

{'blue'}
{'green', 'blue', 'orange', 'yellow', 'reed'}

## **Conditional**

In [ ]:
# Basic if-else
age = 19
if age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

# if-elif-else (multiple conditions)
score = 85
if score >= 90:
  grade = "A+"
elif score >= 80:
  grade = "A"
elif score >= 70:
  grade = "B"
elif score >= 60:
  grade = "C"
else:
  grade = "F"
print(f"Your grade is {grade}")  # Your grade is A

You are an adult
Your grade is A

#number checking 2.9

In [52]:

n = int(input())
if n > 0:
  print("Positive")
elif n < 0:
  print("Negative")
else:
  print("Zero")

2
Positive

#Discount check 2.10

In [53]:

age = int(input())
profession = input()
if age < 25 and profession == "student":
  print("You are eligible for a discount")
elif age < 60:
  print("You are eligible for a discount")
else:
  print("You are not eligible for a discount")

23
student
You are eligible for a discount

In [ ]:
#nested if statements
temperature = 32
humidity = 80
if temperature > 30:
  if humidity > 70:
    print("Hot and humid")
  else:
    print("Hot but dry")
else:
  if humidity > 70:
    print("Cool but humid")
  else:
    print("Cool and dry")

Hot and humid

In [ ]:
# More efficient version using logical operators
if temperature > 30 and humidity > 70:
  print("Hot and humid")
elif temperature > 30 and humidity <= 70:
  print("Hot but dry")
elif temperature <= 30 and humidity > 70:
  print("Cool but humid")
else:
  print("Cool and dry")
# Other logical operators
has_id = True
is_holiday = False
if has_id or is_holiday:
  print("Can enter")  # Prints this
if not is_holiday:
  print("Work day")   # Prints this

Hot and humid
Can enter
Work day

## **Loop**

#loop 2.11

In [54]:

for i in range(10):
  print(i)
print()
print()
init = 0
while init < 10:
  print(init)
  init += 1

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9

In [ ]:
# Looping through a list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
  print(f"I like {fruit}")
print("\n")
# Using range() function
for i in range(5):  # 0 to 4
  print(i)
print("\n")
for i in range(2,10):  # 2 to 8
  print(i)

I like apple
I like banana
I like orange


0
1
2
3
4


2
3
4
5
6
7
8
9

In [ ]:
# Continue until a condition is met
count = 0
while count < 5:
  print(count)
  count += 1  # Don't forget to increment!
print("\n")
# With a break statement
number = 0
while True:
  number += 1
  if number > 10:
    break
  print(number)

0
1
2
3
4


1
2
3
4
5
6
7
8
9
10

In [ ]:
# Continue statement - skip to next iteration
for num in range(10):
  if num % 2 == 0:
    continue  # Skip even numbers
  print(num)    # Prints only odd numbers
print("\n")
# Break statement - exit the loop
for num in range(100):
  if num > 10:
    break
  print(num)
# Stop when we reach 11
# Prints 0 through 10

1
3
5
7
9


0
1
2
3
4
5
6
7
8
9
10

#2.12 Number pyramid using nested loop

In [55]:

rows = 5
for i in range(1, rows + 1):

    print(" " * (rows - i), end="")


    for j in range(i):
        print(f"{i} ", end="")

    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [34]:
# Multiplication table (1-5)
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} Ã— {j} = {product}")
  print("-----")  # Separator between tables

1 Ã— 1 = 1
1 Ã— 2 = 2
1 Ã— 3 = 3
1 Ã— 4 = 4
1 Ã— 5 = 5
-----
2 Ã— 1 = 2
2 Ã— 2 = 4
2 Ã— 3 = 6
2 Ã— 4 = 8
2 Ã— 5 = 10
-----
3 Ã— 1 = 3
3 Ã— 2 = 6
3 Ã— 3 = 9
3 Ã— 4 = 12
3 Ã— 5 = 15
-----
4 Ã— 1 = 4
4 Ã— 2 = 8
4 Ã— 3 = 12
4 Ã— 4 = 16
4 Ã— 5 = 20
-----
5 Ã— 1 = 5
5 Ã— 2 = 10
5 Ã— 3 = 15
5 Ã— 4 = 20
5 Ã— 5 = 25
-----

In [ ]:
#pattern printing
for i in range(1, 6):
 print("*" * i)

*
**
***
****
*****

## **Function**

In [1]:
# Defining a simple function
def greet():
  print("Hello! Welcome to Python programming.")
# Calling the function
greet()
# Function with parameters
def greet_person(name):
  print(f"Hello, {name}! How are you today?")
greet_person("Ali Kaisar Saiful")  # Hello, Tahmid! How are you today?
# Function with return value
def add_numbers(a, b):
  sum = a + b
  return sum
result = add_numbers(5, 3)
print(f"The sum is {result}")  # The sum is 8

Hello! Welcome to Python programming.
Hello, Ali Kaisar Saiful! How are you today?
The sum is 8

In [36]:
def greet(name, message="Good morning"):
  print(f"{message}, {name}!")
greet("ALi Kaisar Saiful")  # Good morning, Nadia!
greet("Abdur Rahman", "Hello")  # Hello, Karim!

Good morning, ALi Kaisar Saiful!
Hello, Abdur Rahman!

In [37]:
def describe_person(name, age, city):
  print(f"{name} is {age} years old from {city}")
# Order doesn't matter with keyword args
describe_person(city="Chittagong", name="ALi Kaisar Saiful", age=20)

ALi Kaisar Saiful is 20 years old from Chittagong

In [ ]:
def calculate_stats(numbers):
  total = sum(numbers)
  average = total / len(numbers)
  maximum = max(numbers)
  minimum = min(numbers)
  return total, average, maximum, minimum
stats = calculate_stats([5, 10, 15, 20])
print(stats)  # (50, 12.5, 20, 5)

(50, 12.5, 20, 5)

#2.13 Celsius to Farenheit using a function

In [56]:

def cel_to_fr(celsius):
  farenheit = (celsius * 9/5) + 32
  print(f"{celsius} is equal to {farenheit}")

cel_to_fr(37)

37 is equal to 98.6

#2.14 A function that calculates the area of a ractangle

In [57]:

def rarea(length, width):
  area = length * width
  print(f"The area of the rectangle is {area}")
rarea(10, 5)

The area of the rectangle is 50

In [ ]:
total = 0  # Global variable

def add_to_total(value):
    global total  # Access global variable
    total += value
    return total

print(add_to_total(5))  # 5
print(add_to_total(10))  # 15

5
15

In [ ]:
# Math module
import math
print(math.pi)  # 3.141592653589793
print(math.sqrt(16))  # 4.0
# Random module
import random
print(random.randint(1, 10))  # Random number
print(random.choice(["apple", "banana", "orange"]))
 # Datetime module
import datetime
current_date = datetime.datetime.now()
print(current_date)

3.141592653589793
4.0
9
apple
2025-08-15 06:55:34.862773

#1. creating a module mymath.py

In [58]:

%%writefile mymath.py
def add(a, b):
  return a + b
def subtract(a, b):
  return a - b
PI = 3.14159

Overwriting mymath.py

#2. using the module created before:

In [59]:

import mymath
print(mymath.add(5, 3))      # 8
print(mymath.subtract(10, 4)) # 6
print(mymath.PI)             # 3.14159

8
6
3.14159